body {
  margin: 0;
  padding: 0 2em;
  font-family: sans-serif;
}
.markdown-container {
  margin-top: 4em;
}
.row {
  width: 100%
}

.input-left {
  width: 50%;
  float: left;
}

.output-right {
  width: 50%;
  float: right;
}

.input-left textarea {
  width: 500px;
  height: 300px;
}

.footer {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 5em;
}
